<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title OVK Stroy
    meta(name="description" content="")
    
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css')
    
    link(rel="stylesheet", href="css/main.css")
body

    include partials/_header
    include partials/_advanced
    include partials/_profile
    include partials/_service
    include partials/_portfolio
    include partials/_equipment
    include partials/_discount
    include partials/_manager
    include partials/_brands
    include partials/_testimonials
    include partials/_contacts
    include partials/_footer
    //- include partials/_start
    
    script(src='js/libs.min.js')
    script(src='js/function.js')
