// ADVANCED

section.advanced

    .container
    
        .advanced-item
            h3
                span(data-count='6') 
                |  лет на рынке
            p 6 лет успешной работы на рынке <br> промышленной вентиляции
            
        .advanced-item
            h3
                span(data-count='150') 
                |  объектов
            p Более 150 выполненных работ <br> по объектам
            
        .advanced-item
            h3
                span(data-count='120') 
                |  партнеров
            p Более 120 партнеров и <br> поставщиков
            
        .advanced-item
            h3
                span(data-count='250000') 
                |  кв. м.
            p Установленных <br> воздуховодов
    
