// DISCOUNT

section.discount

  .container
    h2 Всем клиентам скидки
    .discount-content
      p 
        |Всем клиентам, обратившимся в нашу компанию до октября 2015 года мы предоставляем уникальную возможность получить 
        span скидку до 40%.
      a(href="#").button отправить заявку
