// FOOTER

footer.main-footer

  .container
    
    .menu-line.menu-line-footer
    
      a(href="" class='logo logo-footer')
        img(class='svg-img' src="img/logo.svg", alt="")
        
      
      .phone
        span.img 
          img(class='svg-img' src="img/icon/smartphone.svg", alt="")
          
        span.num +7 (495) 99-99-99
          
        div.text 
          span Заказать обратный звонок
                      
          
              
      nav.menu
        ul
          li
            a(href="#") Главная
          li
            a(href="#") Монтаж
          li
            a(href="#") Проектирование
          li
            a(href="#") Оборудование
          li
            a(href="#") Контакты
      
      p.copy &copy; 2016 OVK Stroy
          
