// HEADER

header.main-header

    .container

        .menu-line.menu-line-header
        
            a(href="" class='logo')
                img(class='svg-img' src="img/logo.svg", alt="")
                
            .phone
                span.img 
                    img(class='svg-img' src="img/icon/smartphone.svg", alt="")
                
                span.num +7 (495) 99-99-99
                
                div.text 
                    span Заказать обратный звонок
                
            .toggle-wrap
                a(href="#").toggle-mnu
                    span
                
            nav.menu
                ul
                    li
                        a(href="#").active Главная
                    li
                        a(href="#") Монтаж
                    li
                        a(href="#") Проектирование
                    li
                        a(href="#") Оборудование
                    li
                        a(href="#") Контакты
                        
        .header-content
        
            .content-text
                h1 Монтаж систем вентиляции и кондиционирования
                
                .list
                    .text-wrap
                        div 
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>
                            
                            span Работаем без предоплаты
                        div 
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>
                            
                            span Скидки до 40&#37;
                        div 
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>
                            
                            span Бесплатный выезд инженера
                        
                a(href="").button Отправить заявку
                
            .content-img
                img(src="img/header-img.png", alt="")
                
            .mouse-wrap
                .mouse-icon
                    .wheel
            
            
                
