// PROFILE

section.profile
  
  .container
    .profile-gallery.mfp-gallery
      a(href="img/photos/0.jpg" class='gallery-tizer' style='background-image: url(img/work.jpg)')
        .triangle
        <svg class='image' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 8.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5zm9 .5l-2.519 4-2.481-1.96-4 5.96h14l-5-8zm8-4v14h-20v-14h20zm2-2h-24v18h24v-18z"/></svg>
        
        <svg class='magnify' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13 10h-3v3h-2v-3h-3v-2h3v-3h2v3h3v2zm8.172 14l-7.387-7.387c-1.388.874-3.024 1.387-4.785 1.387-4.971 0-9-4.029-9-9s4.029-9 9-9 9 4.029 9 9c0 1.761-.514 3.398-1.387 4.785l7.387 7.387-2.828 2.828zm-12.172-8c3.859 0 7-3.14 7-7s-3.141-7-7-7-7 3.14-7 7 3.141 7 7 7z"/></svg>
        span Галерея
      
      a(href="img/photos/1.jpg")
      a(href="img/photos/2.jpg")
      a(href="img/photos/3.jpg")
    
    .profile-sertificate
      h2 Кондиционирование и вентиляци - это наш профиль
      p Обращаясь в нашу компанию, вы гарантированно получаете высокое качество проектирования и монтажа вентиляционных систем.  <strong>ОВК СТРОЙ</strong> - это команда профессионалов с многолетним опытом работы на рынке.
      
      .list
        .text-wrap
          div 
            <svg class='plus' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 9h-9v-9h-6v9h-9v6h9v9h6v-9h9z"/></svg>
            span Работаем без предоплаты
          div 
            <svg class='plus' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 9h-9v-9h-6v9h-9v6h9v9h6v-9h9z"/></svg>
            span Бесплатный выезд инженера
            
      a(href="").button Сделать заказ
      .sectificate-wrap.mfp-gallery
        a(href="img/certificate/certificate.jpg").button.button_gold Наши сертификаты
        a(href="img/certificate/certificate_2.jpg")
              
